@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
  --family-body: "Inter", serif;
}

* {
  box-sizing: border-box;
}

*,
html {
  scroll-margin: 0px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--family-body);
  color: var(--text-primary);
  font-optical-sizing: auto;
  background: var(--background-bg-secondary);
}

input {
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

* {
  transition: .2s ease;
}


/* Variables  */
:root {
  --header-height: 65px;
  --footer-height: 64px;
  --type-size-xs: 13px;
  --type-size-2xs: 12px;
  --type-size-sm: 14px;
  --type-size-md: 16px;
  --type-size-lg-desktop: 18px;
  --type-size-lg-mobile: 16px;
  --type-size-xl-desktop: 20px;
  --type-size-xl-mobile: 18px;
  --type-size-2xl-desktop: 24px;
  --type-size-2xl-mobile: 20px;
  --type-size-3xl-desktop: 28px;
  --type-size-3xl-mobile: 24px;
  --type-size-4xl-desktop: 40px;
  --type-size-4xl-mobile: 32px;
  --type-size-5xl-desktop: 48px;
  --type-size-5xl-mobile: 36px;
  --type-size-6xl-desktop: 64px;
  --type-size-6xl-mobile: 48px;
  --type-size-7xl-desktop: 72px;
  --type-size-7xl-mobile: 56px;
  --type-size-8xl-desktop: 96px;
  --type-size-8xl-mobile: 64px;
  --type-height-2xs: 16px;
  --type-height-xs: 18px;
  --type-height-sm: 20px;
  --type-height-md: 24px;
  --type-height-md-mobile: 24px;
  --type-height-lg-desktop: 28px;
  --type-height-lg-mobile: 24px;
  --type-height-xl-desktop: 30px;
  --type-height-xl-mobile: 28px;
  --type-height-3xl-desktop: 48px;
  --type-height-3xl-mobile: 36px;
  --type-height-4xl-desktop: 56px;
  --type-height-4xl-mobile: 44px;
  --type-height-5xl-desktop: 72px;
  --type-height-5xl-mobile: 56px;
  --type-height-6xl-desktop: 80px;
  --type-height-6xl-mobile: 64px;
  --type-height-7xl-desktop: 96px;
  --type-height-7xl-mobile: 72px;
  --background-inverted: #171717FF;
  --background-overlay: #1A1D201A;
  --type-height-2xl-desktop: 36px;
  --type-height-2xl-mobile: 32px;
  --basic-green-bg-surface: #22C55D33;
  --basic-brand-text: #0D6EFDFF;
  --background-input-active: #FFFFFFFF;
}

/* Colors  */
:root {
  --neutral-0: #FFFFFFFF;
  --neutral-50: #FCFCFCFF;
  --neutral-100: #F8F9FAFF;
  --neutral-200: #E9ECEFFF;
  --neutral-300: #DEE2E6FF;
  --neutral-400: #CED4DAFF;
  --neutral-500: #ADB5BDFF;
  --neutral-600: #6C757DFF;
  --neutral-700: #495057FF;
  --neutral-800: #343A40FF;
  --neutral-900: #212529FF;
  --neutral-950: #1A1D20FF;
  --neutral-alpha-0: #21252900;
  --neutral-alpha-1: #21252908;
  --neutral-alpha-2: #2125290D;
  --neutral-alpha-3: #21252912;
  --shadows-4: #2125291A;
  --neutral-alpha-5: #21252929;
  --neutral-alpha-6: #21252933;
  --neutral-alpha-7: #2125293D;
  --neutral-alpha-8: #21252947;
  --neutral-alpha-9: #21252952;
  --neutral-alpha-10: #21252966;
  --shadows-11: #2125297A;
  --neutral-inverted-0: #FFFFFF00;
  --neutral-inverted-1: #FFFFFF0D;
  --neutral-inverted-2: #FFFFFF14;
  --neutral-inverted-3: #FFFFFF1A;
  --neutral-inverted-4: #FFFFFF1F;
  --neutral-inverted-5: #FFFFFF29;
  --neutral-inverted-6: #FFFFFF33;
  --neutral-inverted-7: #FFFFFF3D;
  --neutral-inverted-8: #FFFFFF47;
  --neutral-inverted-9: #FFFFFF52;
  --neutral-inverted-10: #FFFFFF66;
  --neutral-inverted-11: #FFFFFF7A;
  --blue-50: #F0F6FFFF;
  --blue-100: #E1EDFFFF;
  --blue-200: #BDD7FEFF;
  --blue-300: #95BFFEFF;
  --blue-400: #62A0FEFF;
  --blue-500: #0D6EFDFF;
  --blue-600: #0262F3FF;
  --blue-700: #0254CFFF;
  --blue-800: #0144A7FF;
  --blue-900: #01337EFF;
  --blue-950: #01255BFF;
  --cyan-50: #ECFEFFFF;
  --cyan-100: #CEFAFEFF;
  --cyan-200: #A5F3FCFF;
  --cyan-300: #67E8F9FF;
  --cyan-400: #24D3EEFF;
  --cyan-500: #00C3E4FF;
  --cyan-600: #02ABD3FF;
  --cyan-700: #0586A9FF;
  --cyan-800: #0D6783FF;
  --cyan-900: #164E63FF;
  --cyan-950: #093344FF;
  --green-50: #E8FCEFFF;
  --green-100: #DCFCE7FF;
  --green-200: #BBF7D0FF;
  --green-300: #81EEA8FF;
  --green-400: #41DD7AFF;
  --green-500: #22C55DFF;
  --green-600: #17A34AFF;
  --green-700: #1A8F44FF;
  --green-800: #176936FF;
  --green-900: #14532DFF;
  --green-950: #052E16FF;
  --lime-50: #F3FDDDFF;
  --lime-100: #ECFBCBFF;
  --lime-200: #D6F995FF;
  --lime-300: #BFF164FF;
  --lime-400: #A3E635FF;
  --lime-500: #84CC15FF;
  --lime-600: #6BAD0DFF;
  --lime-700: #558811FF;
  --lime-800: #426713FF;
  --lime-900: #365313FF;
  --lime-950: #1B2D06FF;
  --orange-50: #FFF7D6FF;
  --orange-100: #FEF0B9FF;
  --orange-200: #FDE277FF;
  --orange-300: #FBD44CFF;
  --orange-400: #FBBF24FF;
  --orange-500: #F59E0CFF;
  --orange-600: #D97708FF;
  --orange-700: #B4540AFF;
  --orange-800: #92400DFF;
  --orange-900: #78350FFF;
  --orange-950: #451B03FF;
  --red-50: #FEF6F6FF;
  --red-100: #FEE7E6FF;
  --red-200: #FED7D7FF;
  --red-300: #FDB9B9FF;
  --red-400: #F87171FF;
  --red-500: #EF4444FF;
  --red-600: #DC2625FF;
  --red-700: #C81E1DFF;
  --red-800: #A01C1CFF;
  --red-900: #7F1C1DFF;
  --red-950: #450A0AFF;
  --purple-50: #F5F3FFFF;
  --purple-100: #EDE9FEFF;
  --purple-200: #DDD6FEFF;
  --purple-300: #C3B6FDFF;
  --purple-400: #A88BFAFF;
  --purple-500: #8B5CF6FF;
  --purple-600: #7C3AEDFF;
  --purple-700: #6D28D9FF;
  --purple-800: #5B21B6FF;
  --purple-900: #4C1D95FF;
  --purple-950: #2E1065FF;
  --item-fixed: #212529FF;
  --item-fixed-secondary: #212529A3;
  --item-fixed-tertiary: #21252966;
  --item-fixed-quaternary: #2125293D;
  --item-fixed-inverted: #FFFFFFFF;
  --item-fixed-inverted-secondary: #FFFFFFA3;
  --item-fixed-inverted-tertiary: #FFFFFF66;
  --item-fixed-inverted-quaternary: #FFFFFF3D;
  --indigo-50: #EEF2FFFF;
  --indigo-100: #EDE9FEFF;
  --indigo-200: #DDD6FEFF;
  --indigo-300: #A5B4FCFF;
  --indigo-400: #818CF8FF;
  --indigo-500: #6366F1FF;
  --indigo-600: #4F46E5FF;
  --indigo-700: #4338CAFF;
  --indigo-800: #3730A3FF;
  --indigo-900: #312E81FF;
  --indigo-950: #1E1B4BFF;
  --neutral-alpha-12: #2125298F;
  --neutral-alpha-13: #212529A3;
  --neutral-alpha-14: #212529B8;
  --neutral-alpha-15: #212529CC;
  --neutral-alpha-16: #212529E0;
  --neutral-inverted-12: #FFFFFF8F;
  --neutral-inverted-13: #FFFFFFA3;
  --neutral-inverted-14: #FFFFFFB8;
  --neutral-inverted-15: #FFFFFFCC;
  --neutral-inverted-16: #FFFFFFE0;
  --shadows-inner-0: #FFFFFF00;
  --shadows-inner-1: #21252914;
  --shadows-drop-1: #21252908;
  --shadows-drop-2: #2125290A;
  --shadows-highlight-1: #CCE5FFFF;
  --shadows-highlight-2: #1487FAFF;
  --shadows-drop-3: #21252914;
  --shadows-danger-1: #FED7D7FF;
  --shadows-danger-2: #EE3A3AFF;
  --shadows-drop-4: #2125291F;
  --shadows-card-border: #2125291F;
  --shadows-card-border-2: #2125291F;
  --shadows-inner-2: #2125291F;
  --neutral-alpha-16-fixed: #212529E0;
}

/* Aliases  */
:root {
  --item-primary: var(--neutral-900);
  --item-secondary: var(--neutral-alpha-13);
  --item-tertiary: var(--neutral-alpha-10);
  --item-quaternary: var(--neutral-alpha-7);
  --item-inverted: var(--neutral-0);
  --item-inverted-secondary: var(--neutral-inverted-13);
  --item-inverted-tertiary: var(--neutral-inverted-10);
  --item-inverted-quaternary: var(--neutral-inverted-7);
}


/* Color Styles  */
:root {
  --border-component: var(--border-alpha-subtle);
  --border-component-hover: var(--border-alpha-strong);
  --border-card: linear-gradient(90deg, 0% rgba(33, 37, 41, 0.12), 100% rgba(33, 37, 41, 0.12));
}

.dark:root {
  --semantic-neutral-0: var(--neutral-950);
  --semantic-neutral-50: var(--neutral-900);
  --semantic-neutral-100: var(--neutral-800);
  --semantic-neutral-200: var(--neutral-700);
  --semantic-neutral-300: var(--neutral-600);
  --semantic-neutral-400: var(--neutral-500);
  --semantic-neutral-500: var(--neutral-400);
  --semantic-neutral-600: var(--neutral-300);
  --semantic-neutral-700: var(--neutral-200);
  --semantic-neutral-800: var(--neutral-100);
  --semantic-neutral-900: var(--neutral-50);
  --semantic-neutral-950: var(--neutral-0);
  --semantic-neutral-alpha-0: var(--neutral-alpha-0);
  --semantic-neutral-alpha-3: var(--neutral-alpha-1);
  --semantic-neutral-alpha-5: var(--neutral-alpha-2);
  --semantic-neutral-inverted-0: var(--neutral-alpha-0);
  --semantic-neutral-inverted-20: var(--neutral-alpha-6);
  --semantic-neutral-inverted-24: var(--neutral-alpha-7);
  --semantic-neutral-inverted-28: var(--neutral-alpha-8);
  --semantic-neutral-inverted-32: var(--neutral-alpha-9);
  --semantic-neutral-inverted-40: var(--neutral-alpha-10);
  --semantic-neutral-inverted-48: var(--neutral-alpha-12);
  --states-primary-primary-disabled: var(--neutral-inverted-3);
  --states-primary-secondary: var(--neutral-800);
  --states-primary-secondary-hover: var(--neutral-700);
  --states-primary-tertiary: var(--neutral-inverted-3);
  --states-primary-primary-hover: var(--semantic-brand-600);
  --states-primary-secondary-pressed: var(--neutral-800);
  --states-primary-tertiary-hover: var(--neutral-inverted-5);
  --states-primary-tertiary-disabled: var(--neutral-inverted-3);
  --states-primary-ghost: var(--neutral-inverted-0);
  --states-primary-ghost-hover: var(--neutral-inverted-5);
  --states-primary-ghost-disabled: var(--neutral-inverted-0);
  --border-light: var(--semantic-neutral-800);
  --border-subtle: var(--semantic-neutral-700);
  --border-strong: var(--semantic-neutral-600);
  --border-alpha-light: var(--semantic-neutral-inverted-8);
  --border-alpha-subtle: var(--semantic-neutral-inverted-12);
  --border-alpha-strong: var(--semantic-neutral-inverted-20);
  --text-primary: var(--item-inverted);
  --text-secondary: var(--item-inverted-secondary);
  --text-tertiary: var(--item-inverted-tertiary);
  --text-disabled: var(--item-inverted-quaternary);
  --text-fixed-disabled: var(--item-fixed-quaternary);
  --text-inverted: var(--item-primary);
  --text-inverted-secondary: var(--item-secondary);
  --text-inverted-tertiary: var(--item-tertiary);
  --text-inverted-disabled: var(--item-quaternary);
  --background-bg-primary: var(--neutral-900);
  --background-bg-secondary: var(--neutral-950);
  --background-bg-primary: var(--neutral-900);
  --background-component-default: var(--neutral-900);
  --icon-primary: var(--item-inverted);
  --icon-secondary: var(--item-inverted-secondary);
  --icon-tertiary: var(--item-inverted-tertiary);
  --icon-disabled: var(--item-inverted-quaternary);
  --background-component-hovered: var(--neutral-800);
  --semantic-neutral-alpha-56: var(--neutral-inverted-12);
  --semantic-neutral-alpha-64: var(--neutral-inverted-13);
  --semantic-neutral-alpha-72: var(--neutral-inverted-14);
  --semantic-neutral-alpha-80: var(--neutral-inverted-15);
  --semantic-neutral-alpha-88: var(--neutral-inverted-16);
  --semantic-neutral-inverted-56: var(--neutral-alpha-12);
  --semantic-neutral-inverted-64: var(--neutral-alpha-13);
  --semantic-neutral-inverted-72: var(--neutral-alpha-14);
  --semantic-neutral-inverted-80: var(--neutral-alpha-15);
  --semantic-neutral-inverted-88: var(--neutral-alpha-16);
  --states-primary-secondary-disabled: var(--neutral-alpha-3);
  --states-primary-tertiary-pressed: var(--neutral-inverted-8);
  --states-primary-ghost-pressed: var(--neutral-inverted-8);
  --border-button-secondary: var(--semantic-neutral-alpha-0);
  --border-button-secondary-hover: var(--semantic-neutral-alpha-0);
  --background-bg-tertiary: #16191BFF;
  --background-card-top: #FFFFFF33;
  --background-card-bottom: #FFFFFF00;
  --background-bg-header: #1A1D20E6;
  --post-gradient: linear-gradient(180deg, rgba(33, 37, 41, 0.00) 0%, #16191B 100%);
  --border-alpha-subtle: rgba(255, 255, 255, 0.12);
  --background-input-active: #1A1D20;
}


.dark-only {
  display: none;
}

.light-only {
  display: flex;
}

.dark .dark-only {
  display: flex;
}

.dark .light-only {
  display: none;
}

.dark .btn-secondary.btn-left::before,
.dark .btn-secondary.btn-right::after {
  filter: brightness(0) invert(71%) sepia(75%) saturate(17%) hue-rotate(163deg) brightness(84%) contrast(83%);
}

.dark .btn-secondary.btn-left:disabled:before,
.dark .btn-secondary.btn-right:disabled:after {
  filter: none;
}

.dark .theme-switch__sun {
  transform: translateX(-30px);
}

.dark .search-button img,
.dark .search-button__clear img {
  filter: brightness(0) invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(118%) contrast(118%);
}

.dark .view-all:hover .view-all__icon {
  filter: invert(100%);
}

#theme-switch {
  border: none;
  background: none;
  padding: 0;
}

/* Text Styles  */
.body-2xs-light {
  font-family: var(--family-body);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: 300;
}

.body-2xs-regular {
  font-family: var(--family-body);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: 400;
}

.body-2xs-medium {
  font-family: var(--family-body);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: 500;
}

.body-2xs-semi-bold {
  font-family: var(--family-body);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: 600;
}

.body-2xs-bold {
  font-family: var(--family-body);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: 700;
}

.body-2xs-extra-bold {
  font-family: var(--family-body);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: 800;
}

.body-2xs-black {
  font-family: var(--family-body);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: 900;
}

.body-xs-light {
  font-family: var(--family-body);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 300;
}

.body-xs-regular {
  font-family: var(--family-body);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 400;
}

.body-xs-medium {
  font-family: var(--family-body);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 500;
}

.body-xs-semi-bold {
  font-family: var(--family-body);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 600;
}

.body-xs-bold {
  font-family: var(--family-body);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 700;
}

.body-xs-extra-bold {
  font-family: var(--family-body);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 800;
}

.body-xs-black {
  font-family: var(--family-body);
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 900;
}

.body-sm-light {
  font-family: var(--family-body);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 300;
}

.body-sm-regular {
  font-family: var(--family-body);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 400;
}

.body-sm-medium {
  font-family: var(--family-body);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 500;
}

.body-sm-semi-bold {
  font-family: var(--family-body);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 600;
}

.body-sm-bold {
  font-family: var(--family-body);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 700;
}

.body-sm-extra-bold {
  font-family: var(--family-body);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 800;
}

.body-sm-black {
  font-family: var(--family-body);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 900;
}

.body-md-light {
  font-family: var(--family-body);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  font-weight: 300;
}

.body-md-regular {
  font-family: var(--family-body);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  font-weight: 400;
}

.body-md-medium {
  font-family: var(--family-body);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  font-weight: 500;
}

.body-md-semi-bold {
  font-family: var(--family-body);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  font-weight: 600;
}

.body-md-bold {
  font-family: var(--family-body);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  font-weight: 700;
}

.body-md-extra-bold {
  font-family: var(--family-body);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  font-weight: 800;
}

.body-md-black {
  font-family: var(--family-body);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  font-weight: 900;
}

.body-lg-light {
  font-family: var(--family-body);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 300;
}

.body-lg-regular {
  font-family: var(--family-body);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 400;
}

.body-lg-medium {
  font-family: var(--family-body);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 500;
}

.body-lg-semi-bold {
  font-family: var(--family-body);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 600;
}

.body-lg-bold {
  font-family: var(--family-body);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 700;
}

.body-lg-extra-bold {
  font-family: var(--family-body);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 800;
}

.body-lg-black {
  font-family: var(--family-body);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 900;
}

.headline-2xs-light {
  font-family: var(--family-body);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 300;
}

.headline-2xs-regular {
  font-family: var(--family-body);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 400;
}

.headline-2xs-medium {
  font-family: var(--family-body);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 500;
}

.headline-2xs-semi-bold {
  font-family: var(--family-body);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 600;
}

.headline-2xs-bold {
  font-family: var(--family-body);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 700;
}

.headline-2xs-extra-bold {
  font-family: var(--family-body);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 800;
}

.headline-2xs-black {
  font-family: var(--family-body);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.16px;
  font-weight: 900;
}

.headline-xs-light {
  font-family: var(--family-body);
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.16px;
  font-weight: 300;
}

.headline-xs-regular {
  font-family: var(--family-body);
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.16px;
  font-weight: 400;
}

.headline-xs-medium {
  font-family: var(--family-body);
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.16px;
  font-weight: 500;
}

.headline-xs-semi-bold {
  font-family: var(--family-body);
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.16px;
  font-weight: 600;
}

.headline-xs-bold {
  font-family: var(--family-body);
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.16px;
  font-weight: 700;
}

.headline-xs-extra-bold {
  font-family: var(--family-body);
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.16px;
  font-weight: 800;
}

.headline-xs-black {
  font-family: var(--family-body);
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.16px;
  font-weight: 900;
}

.headline-sm-light {
  font-family: var(--family-body);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.32px;
  font-weight: 300;
}

.headline-sm-regular {
  font-family: var(--family-body);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.32px;
  font-weight: 400;
}

.headline-sm-medium {
  font-family: var(--family-body);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.32px;
  font-weight: 500;
}

.headline-sm-semi-bold {
  font-family: var(--family-body);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.32px;
  font-weight: 600;
}

.headline-sm-bold {
  font-family: var(--family-body);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.32px;
  font-weight: 700;
}

.headline-sm-extra-bold {
  font-family: var(--family-body);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.32px;
  font-weight: 800;
}

.headline-sm-black {
  font-family: var(--family-body);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.32px;
  font-weight: 900;
}

.headline-md-light {
  font-family: var(--family-body);
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.32px;
  font-weight: 300;
}

.headline-md-regular {
  font-family: var(--family-body);
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.32px;
  font-weight: 400;
}

.headline-md-medium {
  font-family: var(--family-body);
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.32px;
  font-weight: 500;
}

.headline-md-semi-bold {
  font-family: var(--family-body);
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.32px;
  font-weight: 600;
}

.headline-md-bold {
  font-family: var(--family-body);
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.32px;
  font-weight: 700;
}

.headline-md-extra-bold {
  font-family: var(--family-body);
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.32px;
  font-weight: 800;
}

.headline-md-black {
  font-family: var(--family-body);
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.32px;
  font-weight: 900;
}

.headline-lg-light {
  font-family: var(--family-body);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.32px;
  font-weight: 300;
}

.headline-lg-regular {
  font-family: var(--family-body);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.32px;
  font-weight: 400;
}

.headline-lg-medium {
  font-family: var(--family-body);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.32px;
  font-weight: 500;
}

.headline-lg-semi-bold {
  font-family: var(--family-body);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.32px;
  font-weight: 600;
}

.headline-lg-bold {
  font-family: var(--family-body);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.32px;
  font-weight: 700;
}

.headline-lg-extra-bold {
  font-family: var(--family-body);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.32px;
  font-weight: 800;
}

.headline-lg-black {
  font-family: var(--family-body);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.32px;
  font-weight: 900;
}

.headline-xl-light {
  font-family: var(--family-body);
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.32px;
  font-weight: 300;
}

.headline-xl-regular {
  font-family: var(--family-body);
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.32px;
  font-weight: 400;
}

.headline-xl-medium {
  font-family: var(--family-body);
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.32px;
  font-weight: 500;
}

.headline-xl-semi-bold {
  font-family: var(--family-body);
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.32px;
  font-weight: 600;
}

.headline-xl-bold {
  font-family: var(--family-body);
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.32px;
  font-weight: 700;
}

.headline-xl-extra-bold {
  font-family: var(--family-body);
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.32px;
  font-weight: 800;
}

.headline-xl-black {
  font-family: var(--family-body);
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.32px;
  font-weight: 900;
}

.headline-2xl-light {
  font-family: var(--family-body);
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.32px;
  font-weight: 300;
}

.headline-2xl-regular {
  font-family: var(--family-body);
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.32px;
  font-weight: 400;
}

.headline-2xl-medium {
  font-family: var(--family-body);
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.32px;
  font-weight: 500;
}

.headline-2xl-semi-bold {
  font-family: var(--family-body);
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.32px;
  font-weight: 600;
}

.headline-2xl-bold {
  font-family: var(--family-body);
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.32px;
  font-weight: 700;
}

.headline-2xl-extra-bold {
  font-family: var(--family-body);
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.32px;
  font-weight: 800;
}

.headline-2xl-black {
  font-family: var(--family-body);
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.32px;
  font-weight: 900;
}

.headline-display-light {
  font-family: var(--family-body);
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.32px;
  font-weight: 300;
}

.headline-display-regular {
  font-family: var(--family-body);
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.32px;
  font-weight: 400;
}

.headline-display-medium {
  font-family: var(--family-body);
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.32px;
  font-weight: 500;
}

.headline-display-semi-bold {
  font-family: var(--family-body);
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.32px;
  font-weight: 600;
}

.headline-display-bold {
  font-family: var(--family-body);
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.32px;
  font-weight: 700;
}

.headline-display-extra-bold {
  font-family: var(--family-body);
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.32px;
  font-weight: 800;
}

.headline-display-black {
  font-family: var(--family-body);
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.32px;
  font-weight: 900;
}

/* Effect Styles  */
.shadows-xs {
  box-shadow: 0px 0.5px 1px 0px rgba(33, 37, 41, 0.08);
}

.shadows-md {
  box-shadow: 0px 2px 6px 0px rgba(33, 37, 41, 0.04), 0px 9px 45px 0px rgba(33, 37, 41, 0.03);
}

.shadows-lg {
  box-shadow: 0px 2px 4px 0px rgba(33, 37, 41, 0.04), 0px 8px 12px -4px rgba(33, 37, 41, 0.04), 0px 16px 24px -8px rgba(33, 37, 41, 0.03), 0px 0px 0px 0.5px rgba(33, 37, 41, 0.08);
}

.shadows-xl {
  box-shadow: 0px 2px 4px 0px rgba(33, 37, 41, 0.04), 0px 5px 8px 0px rgba(33, 37, 41, 0.04), 0px 10px 18px 0px rgba(33, 37, 41, 0.03), 0px 16px 48px 0px rgba(33, 37, 41, 0.03);
}

.components-inner-0-5px {
  box-shadow: 0px 1px 2px -0.5px rgba(33, 37, 41, 0.04), 0px -0.5px 0px 0px rgba(22, 25, 29, 0.12) inset;
}

.components-default {
  box-shadow: 0px 1px 2px -0.5px rgba(33, 37, 41, 0.04), 0px -1px 0px 0px rgba(33, 37, 41, 0.08) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0) inset;
}

.components-focus {
  box-shadow: 0px 0px 0px 4px rgba(204, 229, 255, 1), 0px 0px 0px 1px rgba(20, 135, 250, 1);
}

.components-focus-danger {
  box-shadow: 0px 0px 0px 4px rgba(254, 215, 215, 1), 0px 0px 0px 1px rgba(238, 58, 58, 1);
}

.components-focus-1px {
  box-shadow: 0px 0px 0px 3.5px rgba(204, 229, 255, 1), 0px 0px 0px 1.5px rgba(240, 242, 245, 1);
}

.components-focus-danger-1px {
  box-shadow: 0px 0px 0px 3.5px rgba(254, 215, 215, 1), 0px 0px 0px 1.5px rgba(240, 242, 245, 1);
}

.components-switch-handle {
  box-shadow: 0px 0px 2px 0px rgba(33, 37, 41, 0.08), 0px 1px 2px 0px rgba(33, 37, 41, 0.12);
}

.focus-ring-primary {
  box-shadow: 0px 0px 0px 3px rgba(13, 110, 253, 0.1), 0px 0px 0px 1px rgba(240, 242, 245, 1);
}

.focus-ring-destructive {
  box-shadow: 0px 0px 0px 3px rgba(254, 215, 215, 1), 0px 0px 0px 1px rgba(238, 58, 58, 1);
}

.blur-xs {
  backdrop-filter: blur(5px);
}

.blur-sm {
  backdrop-filter: blur(10px);
}

.blur-md {
  backdrop-filter: blur(20px);
}

.blur-lg {
  backdrop-filter: blur(30px);
}

.blur-xl {
  backdrop-filter: blur(60px);
}


.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.gap-4 {
  gap: 4px;
}

.gap-6 {
  gap: 6px;
}

.gap-8 {
  gap: 8px;
}

.gap-10 {
  gap: 10px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-48 {
  gap: 48px;
}

.p-24 {
  padding: 24px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mt-auto {
  margin-top: auto;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.ps-10 {
  padding-left: 10px;
}

.pe-10 {
  padding-right: 10px;
}

.text-center {
  text-align: center;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

a.btn {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

/* CUSTOM STYLES */

.header {
  border-bottom: 1px solid var(--border-alpha-light);
  background: var(--background-bg-header);
  backdrop-filter: blur(12px);
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 9;
}

.logo__link {
  display: inline-flex;
  padding: 16px;
  width: 100%;
  justify-content: center;
}

.btn {
  font-family: inherit;
  border: none;
  background: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;

  /* Body/sm/medium */
  font-family: var(--family-body);
  font-size: var(--type-size-sm);
  font-style: normal;
  font-weight: 500;
  line-height: var(--type-height-sm);
}

.btn-primary {
  background: var(--states-primary-primary);
  color: var(--text-fixed-inverted);
  border: 1px solid transparent;
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--states-primary-primary-hover);
}

.btn-primary:active {
  background: var(--states-primary-primary-pressed);
}

.btn-primary:focus-visible {
  box-shadow: 0px 0px 0px 3px rgba(13, 109, 253, 0.247), 0px 0px 0px 1px rgba(240, 242, 245, 1);
}

.btn-primary:disabled {
  background: var(--states-primary-primary-disabled);
  color: var(--text-fixed-disabled)
}

.btn-secondary {
  border: 1px solid var(--border-button-secondary);
  background: var(--states-primary-secondary);
  color: var(--text-primary);
}

.btn-secondary:hover:not(:disabled),
.btn-secondary:focus {
  border: 1px solid var(--border-button-secondary-hover);
  background: var(--states-primary-secondary-hover);
  box-shadow: 0px 9px 45px 0px var(--shadows-drop-1), 0px 2px 6px 0px var(--shadows-drop-2);
}

.btn-secondary:active {
  border: 1px solid var(--border-button-secondary-hover);
  background: var(--states-primary-secondary-pressed);
}

.btn-secondary:focus-visible {
  box-shadow: 0px 0px 0px 3px rgba(13, 109, 253, 0.247), 0px 0px 0px 1px rgba(240, 242, 245, 1);
}

.btn-secondary:disabled {
  background: var(--states-primary-secondary-disabled);
  color: var(--text-disabled);
  border: 1px solid transparent;
}

.btn-pill {
  border-radius: 9999px;
}

.btn-s {
  padding: 6px 14px;
  gap: 2px;
}

.btn-s.btn-rounded {
  border-radius: 8px;
}

.btn-m {
  padding: 10px 20px;
  gap: 3px;
}

.btn-m.btn-rounded {
  border-radius: 10px;
}

.btn-s.btn-left {
  padding-left: 10px;
}

.btn-s.btn-right {
  padding-right: 10px;
}

.btn-m.btn-left {
  padding-left: 16px;
}

.btn-m.btn-right {
  padding-right: 16px;
}

.btn-left::before,
.btn-right::after {
  content: "";
  width: 16px;
  height: 16px;

}

.btn-primary.btn-left::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M10.4714 2.86192C10.7318 3.12227 10.7318 3.54438 10.4714 3.80473L6.27616 7.99999L10.4714 12.1953C10.7318 12.4556 10.7318 12.8777 10.4714 13.1381C10.2111 13.3984 9.78896 13.3984 9.52862 13.1381L4.86195 8.47139C4.6016 8.21104 4.6016 7.78893 4.86195 7.52858L9.52862 2.86192C9.78897 2.60157 10.2111 2.60157 10.4714 2.86192Z' fill='white'/%3E%3C/svg%3E");
}

.btn-primary.btn-right::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.52858 2.86192C5.26823 3.12227 5.26823 3.54438 5.52858 3.80473L9.72384 7.99999L5.52858 12.1953C5.26823 12.4556 5.26823 12.8777 5.52858 13.1381C5.78893 13.3984 6.21104 13.3984 6.47138 13.1381L11.1381 8.47139C11.3984 8.21104 11.3984 7.78893 11.1381 7.52858L6.47138 2.86192C6.21103 2.60157 5.78892 2.60157 5.52858 2.86192Z' fill='white'/%3E%3C/svg%3E%0A");
}

.btn-primary.btn-left:disabled:before,
.btn-primary.btn-right:disabled:after {
  filter: brightness(0) invert(65%) sepia(76%) saturate(13%) hue-rotate(169deg) brightness(103%) contrast(80%);
}

.btn-secondary.btn-left::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M10.4714 2.86192C10.7317 3.12227 10.7317 3.54438 10.4714 3.80473L6.2761 7.99999L10.4714 12.1953C10.7317 12.4556 10.7317 12.8777 10.4714 13.1381C10.211 13.3984 9.7889 13.3984 9.52855 13.1381L4.86189 8.47139C4.60154 8.21104 4.60154 7.78893 4.86189 7.52858L9.52855 2.86192C9.7889 2.60157 10.211 2.60157 10.4714 2.86192Z' fill='%23212529'/%3E%3C/svg%3E");
}

.btn-secondary.btn-right::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M5.52864 2.86192C5.26829 3.12227 5.26829 3.54438 5.52864 3.80473L9.7239 7.99999L5.52864 12.1953C5.26829 12.4556 5.26829 12.8777 5.52864 13.1381C5.78899 13.3984 6.2111 13.3984 6.47145 13.1381L11.1381 8.47139C11.3985 8.21104 11.3985 7.78893 11.1381 7.52858L6.47145 2.86192C6.2111 2.60157 5.78899 2.60157 5.52864 2.86192Z' fill='%23212529'/%3E%3C/svg%3E");
}

.btn-secondary.btn-left:disabled:before,
.btn-secondary.btn-right:disabled:after {
  filter: brightness(0) invert(71%) sepia(75%) saturate(17%) hue-rotate(163deg) brightness(84%) contrast(83%);
}

.btn-image {
  padding-right: 10px;
  gap: 6px;

}

.btn-image__icon {
  width: 16px;
  height: 16px;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.main__content {
  padding: 24px 0;
}

.main-container {
  display: grid;
  width: 100%;
  justify-content: space-between;
  position: relative;
  gap: 40px;
  min-height: calc(100dvh - calc(var(--header-height) + 1px));
  grid-template-columns: 280px minmax(0, 640px) 280px;
}

/* @media all and (min-width: 925px) {
  .main-container {
    grid-template-columns: 220px minmax(0, 640px);
  }
}

@media all and (min-width: 1240px) {
  .main-container {
    grid-template-columns: 220px minmax(0, 640px) 320px;
  }
} */

.sidebar-item {
  position: relative;
  display: flex;
  height: 40px;
  padding: 0px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  text-decoration: none;

  border-radius: 8px;
}

.sidebar-item__active,
.sidebar-item:hover {
  background: var(--states-primary-secondary);
  box-shadow: 0px -0.5px 0px 0px rgba(22, 25, 29, 0.12) inset, 0px 1px 2px -0.5px var(--shadows-drop-2);
}

.sidebar-item__active::before {
  content: '';
  position: absolute;
  border-radius: 0px 2px 2px 0px;
  background: var(--basic-brand-bg-accent);
  width: 2px;
  height: 16px;
  left: 0;
}

.sidebar-item__icon {
  width: 24px;
  height: 24px;
  border-radius: 6px;
}

.sidebar-item__text {
  color: var(--text-primary);
  font-family: var(--family-body);
  font-size: var(--type-size-sm);
  font-style: normal;
  font-weight: 500;
  line-height: var(--type-height-sm);
}

.aside__content {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--header-height) - 1px);
  overflow: auto;
  padding: 24px 0;
  position: sticky;
  top: calc(var(--header-height) + 1px);
}

.aside__left .aside__content {
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.aside__left .aside__content:hover {
  overflow-y: auto;
}

.aside__left .aside__content::-webkit-scrollbar {
  width: 12px;
}

.aside__left .aside__content::-webkit-scrollbar-track {
  background: var(--background-bg-secondary);
}

.aside__left .aside__content::-webkit-scrollbar-thumb {
  background-color: var(--border-alpha-light);
  border-radius: 20px;
  border: 3px solid var(--background-bg-secondary);
}

/* @media (hover: hover) {
  .aside__left .aside__content::-webkit-scrollbar-thumb:hover {
    border-width: 0
  }
} */

.widget {
  border-radius: 16px;
  background: var(--background-bg-primary);
  box-shadow: 0px 0.5px 1px 0px var(--shadows-drop-3);
  overflow: hidden;
  margin-bottom: 16px;
}

.widget__preview__img {
  height: 96px;
  width: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.widget__preview__info {
  padding: 0px 20px;
  margin-top: -24px;
  display: flex;
  gap: 16px;
}

.widget__preview__info__img {
  width: 48px;
  height: 48px;
}

.widget__content {
  display: flex;
  flex-direction: column;
  padding: 16px 20px 20px 20px;
  gap: 16px;
}

.widget__content__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.widget__content__action {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.aside__section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.aside__section__title {
  padding: 7px 6px;
  display: flex;
  color: var(--text-tertiary);

  font-family: var(--family-body);
  font-size: var(--type-size-2xs);
  font-style: normal;
  font-weight: 500;
  line-height: var(--type-height-xs);
}

.aside__section__bottom {
  margin-top: auto;
}

.view-all {
  padding: 8px 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}

.view-all__icon {
  width: 16px;
  height: 16px;
  filter: invert(74%) sepia(3%) saturate(308%) hue-rotate(169deg) brightness(87%) contrast(88%);
}

.view-all__text {
  color: var(--text-tertiary);
  font-family: var(--family-body);
  font-size: var(--type-size-2xs);
  font-style: normal;
  font-weight: 500;
  line-height: var(--type-height-xs);
}

.view-all:hover .view-all__text {
  color: var(--text-primary);
}

.view-all:hover .view-all__icon {
  filter: none;
}

.divider {
  border-top: 1px solid var(--border-alpha-light);
  margin: 8px 0;
}

.post {
  border-radius: 16px;
  background: var(--background-bg-tertiary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.post__big {
  grid-column: 1 / span 2;
}

.post__content {
  border-radius: 12px;
  background: var(--background-bg-primary);
  box-shadow: 0px 0.5px 1px 0px var(--shadows-drop-3);
  margin: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  z-index: 1;
  margin-top: -20px;
  height: 100%;
}

.post__preview {
  position: relative;
}

.post__preview::before {
  content: '';
  position: absolute;
  background: var(--post-gradient);
  left: 0;
  right: 0;
  height: 24px;
  bottom: 0;
  z-index: 0;
}

.post__preview__img {
  width: 100%;
  object-fit: cover;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.post__content__title {
  color: var(--text-primary);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Body/md/semi-bold */
  font-family: var(--family-body);
  font-size: var(--type-size-md);
  font-style: normal;
  font-weight: 600;
  line-height: var(--type-height-md);
  letter-spacing: -0.16px;
}


.tag {
  border-radius: 6px;
  background: var(--states-primary-tertiary);
  display: flex;
  display: inline-flex;
  min-height: 24px;
  max-height: 24px;
  padding: 2px 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-decoration: none;
}

.tag:hover {
  background: var(--states-primary-tertiary-hover);
}

.tag__img {
  height: 16px;
  width: 16px;
}

.tag__text {
  color: var(--text-primary);

  /* Body/xs/medium */
  font-family: var(--family-body);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: var(--type-height-sm);
}

.reactions {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: auto;
}

.reactions__big .react {
  padding: 6px 10px;
}

.reactions__big .react__img {
  width: 20px;
  height: 20px;
}

.react {
  display: inline-flex;
  min-height: 24px;
  padding: 2px 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border: none;
  border-radius: 999px;
  background: var(--states-primary-tertiary);
}

.react:hover:not(.react__active) {
  background: var(--states-primary-tertiary-hover);
}

.react__active {
  background: var(--states-primary-primary-hover);
}

.react__active .react__count {
  color: var(--text-fixed-inverted);
}

.react__count {
  color: var(--text-primary);

  /* Body/xs/medium */
  font-family: var(--family-body);
  font-size: var(--type-size-xs);
  font-style: normal;
  font-weight: 500;
  line-height: var(--type-height-sm);
  padding: 0 2px;
}

.react__count:empty {
  display: none;
}

.react__img {
  width: 16px;
  height: 16px;
}

.feed {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(570px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.blog {
  padding: 24px;
  border-radius: 16px;
  background: var(--background-bg-primary);
  /* shadows/xs */
  box-shadow: 0px 0.5px 1px 0px var(--shadows-drop-3);
  display: flex;
  flex-direction: column;
}

.blog__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px
}

.blog a:not(.btn, .blog__image__subtitle a, .tag, .dropdown__menu__item) {
  color: var(--text-brand);

  /* Body/md/regular */
  font-size: var(--type-size-md);
  font-style: normal;
  font-weight: 400;
  line-height: var(--type-height-md);
  letter-spacing: -0.16px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.blog>*:not(:last-child) {
  margin-bottom: 16px;
}

.blog .headline-xs-semi-bold {
  margin-bottom: 8px;
}

.blog img {
  border-radius: 6px;
}

.blog .divider {
  margin: 12px 0 27px 0;
}

.blog__image {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blog__image__img {
  width: 100%;
}

.blog__image__subtitle {
  color: var(--text-secondary);

  /* Body/2xs/regular */
  font-family: var(--family-body);
  font-size: var(--type-size-2xs);
  font-style: normal;
  font-weight: 400;
  line-height: var(--type-height-xs);
}

.blog__image__subtitle a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.blog ul,
.blog ol {
  padding-left: 24px;
}

.blog ol {
  list-style: number;
}

.blog ul {
  list-style: disc outside;
}

.blog li {
  margin: 6px 0;
}

.blog li::marker {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: bold;
  line-height: 140%;
}

.dark .blog li::marker {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: bold;
  line-height: 140%;
}

.blog blockquote {
  padding: 8px 16px;
  border-left: 1px solid var(--border-highlight-accent);
  background: var(--background-bg-secondary);
}

.blog blockquote footer {
  font-style: italic;
  margin: 14px 0;
}

.w400 {
  max-width: 400px;
}

.banner {
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(13, 110, 253, 0.04) 100%), var(--background-bg-secondary);
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.banner__small {
  align-items: flex-start;
  text-align: left;
}

.banner__icon {
  border-radius: 8px;
  background: linear-gradient(180deg, #FFF 0%, #FBFBFB 100%);
  /* shadows/xs */
  box-shadow: 0px 0.5px 1px 0px var(--shadows-drop-3);
  padding: 12px;
}

.banner__icon__img {
  width: 40px;
  height: 40px;
}

.category-block {
  border-radius: 16px;
  background: var(--background-bg-primary);
  overflow: hidden;
  margin-bottom: 16px;
}

.category-block__preview {
  padding: 4px;
}

.category-block__preview__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  border-radius: 16px;
}

.category-block__preview__info {
  padding: 0px 20px;
  margin-top: -24px;
  display: flex;
  gap: 16px;
}

.category-block__preview__info__img {
  width: 64px;
  height: 64px;
}

.category-block__content {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.category-block__content:not(:last-child) {
  border-bottom: 1px solid var(--border-alpha-light);
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.categories-list__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
  gap: 16px 12px;
}

.categories-list__item {
  border-radius: 12px;
  background: var(--background-component-default);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;

  /* shadows/xs */
  box-shadow: 0px 0.5px 1px 0px var(--shadows-drop-3);
}

.categories-list__item:hover {
  box-shadow: 0px 9px 45px 0px var(--shadows-drop-1), 0px 2px 6px 0px var(--shadows-drop-2);
}

.categories-list__item__icon {
  border-radius: 8px;
  width: 32px;
  height: 32px;
}

.main-search {
  background: none;
  border: none;
  height: 100%;
  padding: 10px;
  width: 0;
  padding-right: 0;
  margin-left: 30px;
  transition: width .3s ease, border-color .3s ease, margin .3s ease, opacity .3s ease;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;


  color: var(--text-primary);

  /* Body/sm/regular */
  font-family: var(--family-body);
  font-size: var(--type-size-sm);
  font-style: normal;
  font-weight: 400;
  line-height: var(--type-height-sm);
}

.main-search.expanded {
  width: 280px;
  opacity: 1;
}

.search-content {
  position: relative;
  height: 40px;
  width: 40px;
}

.search-wrapper {
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: absolute;
  border: 1px solid transparent;
  right: 0;
  border-radius: 8px;

}

.search-wrapper:has(.main-search.expanded) {
  border: 1px solid var(--border-alpha-subtle);
  background: var(--background-input-active);
}

.search-button {
  position: absolute;
  left: 2px;
  top: 0;
  bottom: 0;
}

.search-button__clear {
  position: absolute;
  right: 2px;
  top: 0;
  bottom: 0;
}

.search-wrapper:has(.main-search.expanded) .search-button__clear {
  visibility: visible;
  opacity: 1;
  pointer-events: unset;
}

.search-button__clear {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.search-suggestions {
  position: absolute;
  top: 80%;
  right: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: var(--background-bg-primary);
  padding: 4px;

  /* shadows/xs */
  box-shadow: 0px 0.5px 1px 0px var(--shadows-drop-3);
}

.search-suggestions.active {
  visibility: visible;
  opacity: 1;
  top: calc(100% + 8px);
}

.search-wrapper:not(:has(.main-search.expanded)) .search-suggestions {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.search-result {
  border-radius: 4px;
  background: var(--states-primary-ghost);
  padding: 8px;
  text-decoration: none;
}

.search-result:hover {
  background: var(--states-primary-ghost-hover);
}

.search-result__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-primary);

  /* Body/sm/regular */
  font-family: var(--family-body);
  font-size: var(--type-size-sm);
  font-style: normal;
  font-weight: 400;
  line-height: var(--type-height-sm);
}

.block {
  border-radius: 16px;
  background: var(--background-bg-primary);
  /* shadows/xs */
  box-shadow: 0px 0.5px 1px 0px var(--shadows-drop-3);
}


.not-found__img {
  width: 100%;
  max-width: 175px;
}

.footer__item {
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.footer__item.footer__item__active .footer__item__text {
  color: var(--text-brand);
}

.footer__item.footer__item__active .footer__item__img {
  filter: brightness(0) invert(24%) sepia(94%) saturate(2207%) hue-rotate(210deg) brightness(108%) contrast(98%);
}

.footer__item__img {
  width: 32px;
  height: 32px;
}

.footer__item__text {
  color: var(--text-secondary);
  text-align: center;

  /* Body/2xs/regular */
  font-family: var(--family-body);
  font-size: var(--type-size-2xs);
  font-style: normal;
  font-weight: 400;
  line-height: var(--type-height-xs);
}

.dropdown {
  position: relative;
}

.dropdown .dropdown__button {
  cursor: pointer;
}

.dropdown .dropdown__menu {
  position: absolute;
  top: 80%;
  right: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  border-radius: 8px;
  background: var(--background-bg-primary);
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding: 4px;
  align-items: flex-start;

  border: 1px solid var(--border-alpha-light);
  /* shadows/md */
  box-shadow: 0px 9px 45px 0px var(--shadows-drop-1), 0px 2px 6px 0px var(--shadows-drop-2);
}

.dropdown__menu.active {
  visibility: visible;
  opacity: 1;
  top: calc(100% + 30px);
}

.dropdown__menu__item {
  border-radius: 4px;
  background: var(--states-primary-ghost);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  text-decoration: none;
}

.dropdown__menu__item:hover {
  background: var(--states-primary-ghost-hover);
}

.dropdown__menu__item__text {
  color: var(--text-primary);

  font-family: var(--family-body);
  font-size: var(--type-size-sm);
  font-style: normal;
  font-weight: 400;
  line-height: var(--type-height-sm);
}

@media (max-width: 1400px) {
  .main-container {
    grid-template-columns: 220px minmax(0, 640px) 280px;
  }
}

@media (max-width: 1200px) {
  .main-container {
    grid-template-columns: 280px minmax(0, 640px);
    gap: 20px;
  }

  .aside__right {
    display: none;
  }
}


@media (min-width: 992px) {

  .mobile-only,
  .footer {
    visibility: hidden;
    position: absolute;
    z-index: -999;
    height: 0px;
    width: 0px;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    left: -999px;
  }

  .footer {
    display: none;
  }
}

@media (max-width: 991px) {
  .pc-only {
    visibility: hidden;
    position: absolute;
    z-index: -999;
    height: 0px;
    width: 0px;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    left: -999px;
  }

  .main-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .aside__left {
    display: none;
  }

  .categories-list__content {
    grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
    gap: 8px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
  }

  .logo__link {
    padding-left: 0;
  }

  .main-container {
    min-height: calc(100dvh - calc(var(--header-height) + 1px) - var(--footer-height));
  }

  .feed {
    grid-template-columns: 1fr;
  }

  .post__big {
    grid-column: unset;
  }

  .footer {
    border-top: 1px solid var(--border-alpha-light);
    background: var(--background-bg-header);
    backdrop-filter: blur(12px);

    display: grid;
    height: var(--footer-height);
    padding: 0px 8px;
    grid-template-columns: 1fr 1fr 1fr;

    position: sticky;
    bottom: 0px;
    z-index: 9;
  }

  .block-404 {
    height: 100%;
    justify-content: center;
  }

  .container:has(.blog),
  .container:has(.blog) .main__content {
    padding: 0;
  }

  .container:has(.blog) .main__content .feed {
    padding: 0 10px;
    padding-bottom: 10px;
  }

  .blog {
    border-radius: 0;
    padding: 16px;
  }

  .main__content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }

  .not-found__block {
    height: 100%;
    justify-content: center;
  }

  .header .container,
  .header-content {
    height: 100%;
  }

  .header-actions {
    width: 100%;
  }

  .header-content .logo {
    position: absolute;
  }

  .search-wrapper:has(.main-search.expanded) {
    width: 100%;
  }

  .main-search.expanded {
    width: 100vw;
    max-width: 100%;
  }

  .search-content:has(.main-search.expanded) {
    width: 100%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --semantic-neutral-0: var(--neutral-950);
      --semantic-neutral-50: var(--neutral-900);
      --semantic-neutral-100: var(--neutral-800);
      --semantic-neutral-200: var(--neutral-700);
      --semantic-neutral-300: var(--neutral-600);
      --semantic-neutral-400: var(--neutral-500);
      --semantic-neutral-500: var(--neutral-400);
      --semantic-neutral-600: var(--neutral-300);
      --semantic-neutral-700: var(--neutral-200);
      --semantic-neutral-800: var(--neutral-100);
      --semantic-neutral-900: var(--neutral-50);
      --semantic-neutral-950: var(--neutral-0);
      --semantic-neutral-alpha-0: var(--neutral-alpha-0);
      --semantic-neutral-alpha-3: var(--neutral-alpha-1);
      --semantic-neutral-alpha-5: var(--neutral-alpha-2);
      --semantic-neutral-inverted-0: var(--neutral-alpha-0);
      --semantic-neutral-inverted-20: var(--neutral-alpha-6);
      --semantic-neutral-inverted-24: var(--neutral-alpha-7);
      --semantic-neutral-inverted-28: var(--neutral-alpha-8);
      --semantic-neutral-inverted-32: var(--neutral-alpha-9);
      --semantic-neutral-inverted-40: var(--neutral-alpha-10);
      --semantic-neutral-inverted-48: var(--neutral-alpha-12);
      --states-primary-primary-disabled: var(--neutral-inverted-3);
      --states-primary-secondary: var(--neutral-800);
      --states-primary-secondary-hover: var(--neutral-700);
      --states-primary-tertiary: var(--neutral-inverted-3);
      --states-primary-primary-hover: var(--semantic-brand-600);
      --states-primary-secondary-pressed: var(--neutral-800);
      --states-primary-tertiary-hover: var(--neutral-inverted-5);
      --states-primary-tertiary-disabled: var(--neutral-inverted-3);
      --states-primary-ghost: var(--neutral-inverted-0);
      --states-primary-ghost-hover: var(--neutral-inverted-5);
      --states-primary-ghost-disabled: var(--neutral-inverted-0);
      --border-light: var(--semantic-neutral-800);
      --border-subtle: var(--semantic-neutral-700);
      --border-strong: var(--semantic-neutral-600);
      --border-alpha-light: var(--semantic-neutral-inverted-8);
      --border-alpha-subtle: var(--semantic-neutral-inverted-12);
      --border-alpha-strong: var(--semantic-neutral-inverted-20);
      --text-primary: var(--item-inverted);
      --text-secondary: var(--item-inverted-secondary);
      --text-tertiary: var(--item-inverted-tertiary);
      --text-disabled: var(--item-inverted-quaternary);
      --text-fixed-disabled: var(--item-fixed-quaternary);
      --text-inverted: var(--item-primary);
      --text-inverted-secondary: var(--item-secondary);
      --text-inverted-tertiary: var(--item-tertiary);
      --text-inverted-disabled: var(--item-quaternary);
      --background-bg-primary: var(--neutral-900);
      --background-bg-secondary: var(--neutral-950);
      --background-bg-primary: var(--neutral-900);
      --background-component-default: var(--neutral-900);
      --icon-primary: var(--item-inverted);
      --icon-secondary: var(--item-inverted-secondary);
      --icon-tertiary: var(--item-inverted-tertiary);
      --icon-disabled: var(--item-inverted-quaternary);
      --background-component-hovered: var(--neutral-800);
      --semantic-neutral-alpha-56: var(--neutral-inverted-12);
      --semantic-neutral-alpha-64: var(--neutral-inverted-13);
      --semantic-neutral-alpha-72: var(--neutral-inverted-14);
      --semantic-neutral-alpha-80: var(--neutral-inverted-15);
      --semantic-neutral-alpha-88: var(--neutral-inverted-16);
      --semantic-neutral-inverted-56: var(--neutral-alpha-12);
      --semantic-neutral-inverted-64: var(--neutral-alpha-13);
      --semantic-neutral-inverted-72: var(--neutral-alpha-14);
      --semantic-neutral-inverted-80: var(--neutral-alpha-15);
      --semantic-neutral-inverted-88: var(--neutral-alpha-16);
      --states-primary-secondary-disabled: var(--neutral-alpha-3);
      --states-primary-tertiary-pressed: var(--neutral-inverted-8);
      --states-primary-ghost-pressed: var(--neutral-inverted-8);
      --border-button-secondary: var(--semantic-neutral-alpha-0);
      --border-button-secondary-hover: var(--semantic-neutral-alpha-0);
      --background-bg-tertiary: #16191BFF;
      --background-card-top: #FFFFFF33;
      --background-card-bottom: #FFFFFF00;
      --background-bg-header: #1A1D20E6;
      --post-gradient: linear-gradient(180deg, rgba(33, 37, 41, 0.00) 0%, #16191B 100%);
      --border-alpha-subtle: rgba(255, 255, 255, 0.12);
      --background-input-active: #1A1D20;
    }

    .dark-only {
      display: flex;
    }

    .light-only {
      display: none;
    }

    .btn-secondary.btn-left::before,
    .btn-secondary.btn-right::after {
      filter: brightness(0) invert(71%) sepia(75%) saturate(17%) hue-rotate(163deg) brightness(84%) contrast(83%);
    }

    .btn-secondary.btn-left:disabled:before,
    .btn-secondary.btn-right:disabled:after {
      filter: none;
    }

    .search-button img,
    .search-button__clear img {
      filter: brightness(0) invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg) brightness(118%) contrast(118%);
    }

    .view-all:hover .view-all__icon {
      filter: invert(100%);
    }
  }

}

@media (max-width: 576px) {

  .blog__footer {
    flex-direction: column;
  }

}